# Ignore everything
**

# Allow files and directories
!dependencies-apt.txt
!dependencies-py3.txt
!Lab1-open-loopMM
# YOUR FILES LISTED BELOW THIS LINE (IMPORTANT: PREPEND !)
# ----------------------------------------------------------------------------
